@model IEnumerable<CarCommercial.Models.Automobil>

@{
    ViewBag.Title = "Index";
}

<h2>Popis svih vozila</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GodinaProizvodnje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registracija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Boja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Korisnik)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Marka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GodinaProizvodnje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registracija)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Boja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Korisnik)
        </td>
        <td>
            @Html.ActionLink("Detalji", "DetailsOpcenito", new { id=item.AutomobilID }) 
        </td>
    </tr>
}

</table>

@if (Session["Status"].ToString() == "vlasnik")
{
    <div>
        <p><input class="btn btn-link" value="Povratak na naslovnicu" readonly onclick="@("window.location.href='" + @Url.Action("LoggedIn", "VlasnikAutas") + "'");" /></p>
    </div>
}
@if (Session["Status"].ToString() == "agencija")
{
    <div>
        <p><input class="btn btn-link" value="Povratak na naslovnicu" readonly onclick="@("window.location.href='" + @Url.Action("LoggedIn", "OglasivackaAgencijas") + "'");" /></p>
    </div>
}