@model IEnumerable<CarCommercial.Models.OglasivackaAgencija>

@{
    ViewBag.Title = "Index";
}

<h2>Popis svih korisnika (Oglašivačke agencije)</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NazivTvrtke)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sjediste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KorisnickoIme)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NazivTvrtke)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sjediste)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KorisnickoIme)
        </td>        
    </tr>
}

</table>

@if (Session["Status"].ToString() == "vlasnik")
{
    <div>
        <p><input class="btn btn-link" value="Povratak na naslovnicu" readonly onclick="@("window.location.href='" + @Url.Action("LoggedIn", "VlasnikAutas") + "'");" /></p>
    </div>
}
@if (Session["Status"].ToString() == "agencija")
{
    <div>
        <p><input class="btn btn-link" value="Povratak na naslovnicu" readonly onclick="@("window.location.href='" + @Url.Action("LoggedIn", "OglasivackaAgencijas") + "'");" /></p>
    </div>
}